@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    --bg-gradient: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    --bg-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}
body {
    padding: 0 24px;
}

/* Image Container Box */
.container {
    max-width: 28rem;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}
.box {
    width: 100%;
    margin: 0 auto;
    border: 2px dashed #c2cdda;
    border-radius: 10px;
}
.box #is_noimage {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.box .icon {
    font-size: 100px;
    background: var(--bg-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.box .text {
    font-size: 24px;
    font-weight: 500;
    color: #5b5b7b;
}

/* Modal & Modal Background */
#modal-container {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}
#modal {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    padding: 24px;
}
#profile-container,
#modified-profile {
    max-width: 448px;
    max-height: 448px;
}
#profile-container,
#modified-profile > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#mask-btn {
    margin-top: 6px;
    margin-bottom: 10px;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 16px;
}
#mask-btn > img {
    border: 1.5px solid #000000;
    border-radius: 16px;
    padding: 8px;
    width: 56px;
    height: 56px;
}
#mask-btn > img:hover {
    border: 0px;
    transition: all 0.3s;
    box-shadow: var(--bg-shadow);
    background: var(--bg-gradient);
}

/* Utilities  */
.hardMask {
    -webkit-mask-image: url(./asset/user_image_frame_1.png);
    mask-image: url(./asset/user_image_frame_1.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    mask-position: center;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.squireMask {
    -webkit-mask-image: url(./asset/user_image_frame_2.png);
    mask-image: url(./asset/user_image_frame_2.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    mask-position: center;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.circleMask {
    -webkit-mask-image: url(./asset/user_image_frame_3.png);
    mask-image: url(./asset/user_image_frame_3.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    mask-position: center;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.areaMask {
    -webkit-mask-image: url(./asset/user_image_frame_4.png);
    mask-image: url(./asset/user_image_frame_4.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    mask-position: center;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.btn {
    width: 100%;
    padding: 0.75rem 1rem;
    color: #ffffff;
    font-weight: 500;
    border-radius: 24px;
    border: none;
    box-shadow: var(--bg-shadow);
    background: var(--bg-gradient);
    transition: all 0.3s;
}
.btn:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset, rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
    transform: scale(1.05);
}
